node_modules/
.env

# Android / Gradle
android/.gradle/
android/build/
android/app/build/
android/local.properties

# Android build outputs
android/*.apk
android/*.aab
android/*.idsig

# Signing keys
android/*.keystore
android/*.jks