@import "tailwindcss";


/*Hide Google Translator*/
.skiptranslate {
  display: none !important;
}

/* Hide Google Translate Top Bar */
.goog-te-banner-frame.skiptranslate {
    display: none !important;
}

body {
    top: 0px !important; 
    position: static !important;
}

/* Hide Google Translate Tooltip */
.goog-tooltip {
    display: none !important;
}
.goog-tooltip:hover {
    display: none !important;
}
.goog-text-highlight {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
}

#google_translate_element {
    display: none !important;
}
